<!DOCTYPE html>
<html>
    <head>
        <title>My web application !</title>
        <link rel="stylesheet" href="/templates/css/style.css">
    </head>
    <body>
        <h1>Welcome to my Rest APIs</h1>
        <main>
            <ul>
                <li>POST 'api/employee' Create a new employee</li>
                <li>GET 'api/employees' Read all employees</li>
                <li>GET 'api/employees/id' Get one employee</li>
                <li>UPDATE 'api/employee/id' Update employee</li>
                <li>DELETE 'api/employee/id' Delete employee</li>
                
            </ul>
        </main>
    </body>
</html>